* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --bg-primary: #2cc980;
  --bg-tape: #101815;
  --bg-paper: #e3e4d2;
  --bg-keyboard: #c7c8c1;
  --digits-color: #525252;
  --button-hover: #a1a1aa;
  --button-hover-black: #27272a;
  --display-cursor: #991b1b;
  --ff-primary: "IBM Plex Mono", sans-serif;
}

body {
  background: var(--bg-primary);
  display: grid;
  grid-template-areas: "calculator operator";
  justify-content: center;
  align-items: center;
  font-family: var(--ff-primary);
  margin-top: 8rem;
}

button {
  font-family: var(--ff-primary);
  border: none;
  background: none;
  cursor: pointer;
}

.calculator {
  border: 1px solid var(--bg-tape);
  grid-area: calculator;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;

  padding: 2rem;
}

.tape {
  display: flex;
  justify-content: center;
  height: 20rem;
  width: 35rem;
  background: var(--bg-tape);
  border-radius: 8px;
}

.paper {
  margin-top: 5rem;
  height: 15rem;
  width: 15rem;
  background: var(--bg-paper);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 8px;
  overflow-y: scroll;
}

#digits {
  margin-right: 8px;
}

.operand {
  margin-top: 2rem;
  height: 9rem;
  width: 9rem;
  background: var(--bg-keyboard);
  border: 1px solid var(--bg-tape);
  border-radius: 50%;
  display: grid;
  grid-template-areas: "A B" "C D";
  justify-content: center;
  align-content: center;
  gap: 0.8rem;

  position: relative;
  left: 12rem;
}

.operand button {
  height: 2rem;
  width: 2rem;
  border-radius: 4px;
  font-size: 1.5rem;
}

.operand button:hover {
  background: var(--button-hover);
}

.keyboard {
  display: grid;
  grid-template-areas:
    "display numbers timesButton"
    "clear zeros timesButton";

  background: var(--bg-keyboard);
  height: 15rem;
  width: 35rem;

  margin-top: 4rem;
  padding: 2rem;
  border-radius: 8px;
}

.display {
  grid-area: display;
  background: var(--bg-keyboard);
  border: 1px solid var(--bg-tape);
  border-radius: 4px;
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 2.5px;
}

.display .minusIndicator {
  height: 5px;
  width: 8px;
  border: 0.5px solid var(--bg-tape);
  border-radius: 4px;
}

.display .cursor {
  display: none;
  height: 8px;
  width: 8px;
  background: var(--display-cursor);
}

.clear {
  grid-area: clear;
  background: var(--bg-tape);
  width: 4rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  border-radius: 50%;

  margin-left: 5rem;
  position: absolute;
  top: 52rem;
}

.clear button {
  color: var(--bg-paper);
}

.clear:hover {
  background: var(--button-hover-black);
}

.operator {
  grid-area: operator;
  background: var(--bg-tape);
  width: 10rem;
  height: 5rem;
}

.operator button {
  width: 10rem;
  height: 5rem;
}

.operator button:hover {
  background: var(--button-hover-black);
}

.numbers {
  grid-area: numbers;
  padding: 5px;
}

.numbers button {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: 1px solid var(--bg-tape);
  color: var(--bg-tape);
  background: var(--bg-paper);
}

.numbers button:hover {
  background: var(--button-hover);
}

.zeros {
  grid-area: zeros;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.zeros button {
  color: white;
  height: 2.5rem;
  padding: 1rem;
  background: var(--bg-tape);
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.zeros button:hover {
  background: var(--button-hover-black);
}

.timesButton {
  grid-area: timesButton;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timesButton button {
  background: var(--bg-tape);
  height: 50px;
  width: 25px;
}

.timesButton button:hover {
  background: var(--button-hover-black);
}

.hide {
  display: none;
}
